.pinpoint {
  position: relative;
}

.pinpoint-grid-tile {
  border: .5px solid black;
}

.pinpoint__form {
  background: rgba(255, 255, 255, .7);
  border-radius: 2px;
  bottom: 10px;
  left: 10px;
  max-width: 320px;
  padding: 10px;
  position: absolute;
  z-index: 1000;
}

.pinpoint__form form {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.pinpoint__form label {
  width: 100%;
}

.pinpoint__form input,
.pinpoint__form select {
  display: block;
  margin-bottom: 10px;
}

.pinpoint__form .latlng {
  box-sizing: border-box;
  max-width: 160px;
}

.pinpoint__form .latlng:first-child {
  padding-right: 15px;
}

.pinpoint__form .latlng input {
  box-sizing: border-box;
  max-width: 100%;
}

.pinpoint__form select {
  background: white;
  max-width: 320px;
  width: 100%;
}

.pinpoint__form .pinpoint__response {
  font-size: 18px;
  font-weight: bold;
}